//variables de breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1280px;
$bp-desktop-xl: 1536px;
$bp-desktop-xxl: 1920px;

//variables de fuentes
$poppins: Poppins;
$bebas: Bebas Neue;

//variables de color
$pink: #DC0155;
$black: #333333;
$white: #F4F3F8;
$silver: #909090;


