.container-header{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.container-main{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.container-second-main{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}